body {
  font-family: "Inter", sans-serif;
}

:root {
  --grey: #14142b;
  --grey-light: #14142b32;
  --grey-dark: #14142b64;
  --secondary: #555580;
}

.annotation-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 1em 0 1em 0;
  width: 120px;
  height: 50px;
  color: var(--secondary);
  background: transparent;
  border-radius: 0.5em;
  font-size: 12px;
  line-height: 1.2;
  transition: opacity 0.5s;
  z-index: 3 !important;
  padding-left: 0;
  text-align: right;

  .annotation-label-title {
    font-weight: bold;
    font-size: 14px;
  }
  .line {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    border: 0;
    border-top: 1px solid var(--grey-light);
    width: calc(120px + 1em);
    height: 1px;
    margin: 0;
  }
  &.annotation-left {
    text-align: left;
    .line {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 0;
      border: 0;
      border-top: 1px solid var(--grey-light);
      width: calc(120px + 1em);
      height: 1px;
      margin: 0;
    }
  }
}

.annotation-label-arrow {
  width: 32px;
  height: 32px;
}
.hidden {
  display: none !important;
}
